{% load static %}


{% include "HTML/Header.html" %}
{% include "HTML/Slider.html" %}

<hr>
<div class="about-Container">

<div class="text-conatiner">
    <h2>ABOUT</h2>

    <p>{{OL.Text}}</p>
    

</div>
<div class="Image-Container">
    <img src="{% static 'MediaResources/I1.jpg'%}">
    <img src="{% static 'MediaResources/I2.jpg'%}">
    <img src="{% static 'MediaResources/I3.jpg'%}">
    <img src="{% static 'MediaResources/I4.jpg'%}">

</div>


<br>
<br>
<hr>
<br>


    <div class="Tech-container">
        <h2>Technologies</h2>


        <div class="Tech-img">
            <div>
            <img src="{% static '/MediaResources/javascript.jpg'%}" alt="">
            <p>JS</p>
        </div>
        <div>
            <img src="{% static '/MediaResources/sass.jpg'%}" alt="">
            <p>SASS</p>
        </div>
        <div>
            <img src="{% static '/MediaResources/bootstrap.jpg'%}" alt="">
            <p>BOOTSTRAP</p>
        </div>
        <div>
            <img src="{% static '/MediaResources/git.jpg'%}" alt="">
            <p>GIT</p>
        </div>
        <div>
            <img src="{% static '/MediaResources/typescript.jpg'%}" alt="">
            <p>typescript</p>
        </div>
        <div>
            <img src="{% static '/MediaResources/react.jpg'%}" alt="">
            <p>REACT</p>
        </div>
        <div>
            <img src="{% static '/MediaResources/php.jpg'%}" alt="">
            <p>PHP</p>
        </div>
        <div>
            <img src="{% static '/MediaResources/sql.jpg'%}" alt="">
            <p>SQL</p>
        </div>
        <div>
             <img src="{% static '/MediaResources/c.jpg'%}" alt="">
            <p>C#</p>
        </div>
        <div>
            <img src="{% static '/MediaResources/python.png'%}" alt="">
            <p>PYTHON</p>
        </div>
        <div>
            <img src="{% static '/MediaResources/unity.jpg'%}" alt="">
            <p>UNITY</p>
        </div>

        </div>


    </div>
</div>







@endsection

</body>
</html>