{% load static %}

{% include "HTML/AccountHeader.html" %}


<table class="table">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Message</th>
        </tr>
      </thead>
      <tbody>

{% for Row in OL %}
      <tr>
        <td>{{Row.id}}</td>
        <td>{{Row.Name}}</td>
        <td>{{Row.Email}}</td>
        <td>{{Row.Message}}</td>
      </tr>

{% endfor %}


</tbody>
</table>
</body>
</html>