{% include "HTML/Header.html" %}
{% include "HTML/Slider.html" %}


<div class="contact-container">
<div class="contact-text-container">
<h4>CONTACT</h4>
<h2>Got a problem to solve?</h2>


</div>

<div class="contact-form-container">
<form  method="POST">
    {% csrf_token %}
    <br>

    <p >NAME</p>
    {{ContactForm.Name}}
    <br>
    

    <p >EMAIL</p>
    {{ContactForm.Email}}
    <br>
    
    <P>MESSAGE</p>
    {{ContactForm.Message}}
    <br>
        
    <button name="Submit">Submit</button>


</form>

</div>



</div>



</body>
</html>