{% load static %}

{% include "HTML/Header.html" %}
{% include "HTML/Slider.html" %}


<div class="services-container">

    
    <div class="service"><h3>Design</h3><p>შევიმუშავებთ თანამედროვე ტრენდების და ტენდენციების შესაბამის დიზაინს</p></div>
    <div class="service"><h3>Development</h3><p>დეველოპმენტი თანამედროვე პროგრამული უზრუნველყოფის დახმარებით დაგიმზადებთ უახლესი სტანდარტების ვებ დიზაინს</p></div>
    <div class="service"><h3>SEO</h3><p>საძიებო სისტემებში თქვენი საიტის რეგისტრაცია</p></div>
    <div class="service"><h3>Marketing</h3><p>google-ის მთავარ გვერდზე განვათავსებთ თქვენი საიტის რეკლამას</p></div>





</div>