.Menu{
    width: 100%;
    height: 40px;
    background-color: rgb(50, 1, 48);
    position: static;
}

.Menu-Container{
    position: relative;
    padding: 5px;
}

.Menu-Container a{
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    margin-left: 50px;
    font-size: 18px;
    position: relative;
    font-weight: 400;
    
}
.carusel-container{
    background-color: black;
    height: 700px;
    width: 100%;
    overflow: hidden;
}

.Menu-Container a:hover{
    color: aqua;
    text-shadow: 4px 4px 4px black;
    
}


.text-conatiner{
    margin-top: 5px;
    width: 600px;
    margin-left: 30px;
    padding-bottom: 50px;
    color: black;
    font-size: 10px;

}

.text-conatiner  h2{
    color: blue;
    font-weight: bold;
    font-size: 20px;
}


.Image-Container{
    display: flex;
    height: 200px;
    overflow: hidden;
    background-color: tomato;
    justify-content: center;
    
}
.Image-Container img{
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    overflow:hidden;
}

.services-container{
    width: 100%;
    height: 700px;
    background-color: rgb(220, 254, 254);
    display: grid ;
    grid-template-columns: auto auto ;
    
    justify-content: center;
    column-gap: 10px;
    
}


.service{
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 6px;
    /* margin-left: 10px; */
    margin-top: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.257) ;
    text-align: center;
}

.service h3{
    color: blue;
    margin-top: 30px;
}

.service p{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.678);
}


.service:hover{
    background-color: blueviolet;
}

.service:hover p{
    padding-top: 5px;
    color: red;
}

.service:hover h3{
    padding-top: 5px;
    color: red;
}

.contact-container{

    display: grid;
    grid-template-columns: auto auto ;
    width: 100%;
    height: 700px;
    background-color: rgb(7, 0, 49);
    vertical-align: middle;

}


.contact-text-container{
    color: white;
    margin-left: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.contact-text-container h4{
    color: blue;
    
}

.contact-form-container{
    display: inline;
    height: 500px;
    width: 500px;
    margin: auto 0 auto 0;
    color: white;
}

.contact-form-container input{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(10, 1, 64);
    border: blue solid 2px;
    color: white;
}

.contact-form-container input:hover{

    border: tomato solid 2px;
}

.contact-form-container textarea{
    width: 350px;
    height: 100px;    
    border-radius: 5px;
    border: solid 2px blue;
    background-color: rgb(10, 1, 64);
    color: white;

}

.contact-form-container textarea:hover{

    border: tomato solid 2px;


}

.contact-form-container button{

    background: none;
    border: 1px solid blue;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 3px;

}

.contact-form-container button:hover{

    background-color: darkblue;
    border: solid 2px red;


}

.Login-container{
    display: grid;
    width: 100%;
    height: 700px;
    background-color: rgb(7, 0, 49);
    vertical-align: middle;
    justify-content: right;
}


.Login-form-container{
    display: inline;
    height: 500px;
    width: 500px;
    margin: auto 0 auto 0;
    color: white;
    margin-top: 145px;
    
}


.Login-form-container input{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(10, 1, 64);
    border: blue solid 2px;
    color: white;
}


.Login-form-containerinput:hover{

    border: tomato solid 2px;
}


.Login-form-container button{

    background: none;
    border: 1px solid blue;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 3px;

}


.Login-form-container button:hover{

    background-color: darkblue;
    border: solid 2px red;


}

.Tech-container{
    color: blue;
}

.Tech-container h2{
    margin-left: 20px;
}
.Login-container img{
    width: 400px;
    position: absolute;
    height: 700px;
    margin-left: 50px;
}

.Tech-img{
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
   
}

.Tech-img img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    
}

.Tech-img p{

    position: relative;
    
}

.Tech-img DIV{
    text-align: center;
    height: 300px;
    
}

.Tech-img DIV p{
    text-align: center;
    margin-left: 20px;
    
}